flows.json
[{"id":"c20a781a.3150c","type":"tab","label":"KeepYourDistance","disabled":false,"info":""},{"id":"615ca50c.a2471c","type":"tcp in","z":"c20a781a.3150c","name":"","server":"client","host":"127.0.0.1","port":"9997","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":300,"wires":[["1f72e52b.11da13"]]},{"id":"f1484892.581bf8","type":"tcp in","z":"c20a781a.3150c","name":"","server":"client","host":"127.0.0.1","port":"9998","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":360,"wires":[["1f72e52b.11da13"]]},{"id":"f17fad98.1355e","type":"tcp in","z":"c20a781a.3150c","name":"","server":"client","host":"127.0.0.1","port":"9999","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":420,"wires":[["1f72e52b.11da13"]]},{"id":"fa3bee49.cb67a","type":"function","z":"c20a781a.3150c","name":"Create JSON to send","func":"var r = /\\d+/g;\nmsg.payload = JSON.parse('{ \"value1\" : \"'+msg.payload.match(r)[0]+'\", \"value2\" : \"'+msg.payload.match(r)[1]+'\" }');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":300,"wires":[["36a30479.6fc30c","738442bb.e3b234"]]},{"id":"738442bb.e3b234","type":"http request","z":"c20a781a.3150c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/mote_alarm/with/key/b8tv-8GQocm3YB3g-XSmyB","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":300,"wires":[[]]},{"id":"36a30479.6fc30c","type":"debug","z":"c20a781a.3150c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":380,"wires":[]},{"id":"1f72e52b.11da13","type":"switch","z":"c20a781a.3150c","name":"Filter debug and error msgs","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"M","vt":"str"},{"t":"cont","v":"E","vt":"str"},{"t":"cont","v":"A","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":580,"y":300,"wires":[["6e62ecea.17a1fc"],["6e62ecea.17a1fc"],["fa3bee49.cb67a"]]},{"id":"6e62ecea.17a1fc","type":"debug","z":"c20a781a.3150c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"f885c866.0229b","type":"tcp in","z":"c20a781a.3150c","name":"","server":"client","host":"127.0.0.1","port":"10000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":480,"wires":[["1f72e52b.11da13"]]},{"id":"43aa3fbe.03033","type":"tcp in","z":"c20a781a.3150c","name":"","server":"client","host":"127.0.0.1","port":"10001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":540,"wires":[["1f72e52b.11da13"]]},{"id":"2123d180.911e26","type":"tcp in","z":"c20a781a.3150c","name":"","server":"client","host":"127.0.0.1","port":"10002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":600,"wires":[["1f72e52b.11da13"]]}]