flows.json
[{"id":"c20a781a.3150c","type":"tab","label":"Cooja to IFTT","disabled":false,"info":""},{"id":"7a5ceaa4.05b2b4","type":"mqtt-broker","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"615ca50c.a2471c","type":"tcp in","z":"c20a781a.3150c","name":"","server":"client","host":"192.168.1.8","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":380,"y":300,"wires":[["fa3bee49.cb67a"]]},{"id":"f1484892.581bf8","type":"tcp in","z":"c20a781a.3150c","name":"","server":"client","host":"192.168.1.8","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":380,"y":360,"wires":[["fa3bee49.cb67a"]]},{"id":"f17fad98.1355e","type":"tcp in","z":"c20a781a.3150c","name":"","server":"client","host":"192.168.1.8","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":380,"y":420,"wires":[["fa3bee49.cb67a"]]},{"id":"fa3bee49.cb67a","type":"function","z":"c20a781a.3150c","name":"Create JSON to send","func":"var r = /\\d+/g;\nmsg.payload = JSON.parse('{ \"value1\" : \"'+msg.payload.match(r)[0]+'\", \"value2\" : \"'+msg.payload.match(r)[1]+'\" }');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":300,"wires":[["738442bb.e3b234","36a30479.6fc30c"]]},{"id":"738442bb.e3b234","type":"http request","z":"c20a781a.3150c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/mote_alarm/with/key/b8tv-8GQocm3YB3g-XSmyB","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":300,"wires":[[]]},{"id":"36a30479.6fc30c","type":"debug","z":"c20a781a.3150c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":380,"wires":[]}]